html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#grid {
  margin:auto;
  border-collapse: collapse;
}

#grid tr td{
  width: 25px;
  height: 25px;
	border: 1px solid rgb(255, 183, 82);

}

.start{
  width: 200px;
  height: 200px;
  position: relative;

}


.start::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;

  width: 100%;
  height: 100%;

  animation: nodeStartVisited 2s forwards;
}

@keyframes nodeStartVisited {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 218, 109, 0.75);
  }
}

@keyframes nodeVisited {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.target{
  background-color: red;
}